# Lab Task 01

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
# Given:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# Expected Output:
# Given list: [10, 20, 30, 40, 10]
# result is True

# numbers_y = [75, 65, 35, 75, 30]
# result is False

In [6]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
print(numbers_x[0]==numbers_x[-1])
print(numbers_y[0]==numbers_y[-1])

True
False





# Lab Task 02

Create two NumPy arrays of the same shape and perform element-wise addition on them.

Calculate the element-wise product of two NumPy arrays.

In [14]:
#code here
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
import numpy as np
ar1=np.array(numbers_x)
ar2=np.array(numbers_y)
ar3=ar1+ar2
ar4=ar1*ar2
print("addition:",ar3)
print("Multipilcation:",ar4)

addition: [ 85  85  65 115  40]
Multipilcation: [ 750 1300 1050 3000  300]

# Lab Task 03

Reshape a 1D NumPy array into a 2D array with dimensions (3, 4).

Concatenate two NumPy arrays horizontally and vertically.

In [27]:
#code here
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
arr = arr.reshape(3, 4)
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [37]:
ar1 = np.array([[1, 2, 3],
                   [4, 5, 6]])

ar2= np.array([[7, 8, 9],
                   [10, 11, 12]])
horizontal= np.concatenate((ar1, ar2), axis=1)
vertical= np.concatenate((ar1, ar2), axis=0)
horizontal

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [38]:
vertical

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

# Lab Task 04


## Online Store Shopping Cart
Write a Python program to simulate the online store's shopping cart system. The program should use a while loop to provide an interactive shopping experience.


### Tasks:
* Initialize an empty list called shopping_cart to store items.
* Display a welcome message and available products.
* Loop should be iterating over AI Response Simulator and Investment decision and keep asking for user input.
* Prompt the user to enter the number corresponding to the product they want to add to the cart.
* Check if the user entered 'q'. If so, break the loop.
* Convert the choice to an integer and validate it within the valid range (1 to 3).
* Based on the user's choice, add the selected product to the shopping_cart list.
* Display a confirmation message indicating the added product.
* Continue the loop to allow the user to add more products or proceed to checkout.
* After the loop ends, display the contents of the shopping cart.
* Display a goodbye message.
* End the program.

In [43]:
#Code here
shopping_cart=[]
print("Welcome to chwloun ke dukan")
print("------------Menu-----------")
print("1.Alu")
print("2.teenday")
print("3.tamatar")
print("4.Gobhi")
z=["Alu","teenday","tamatar","Gobhi"]
x=input('do you want to buy something ?press yes/q')
while x!='q':
    y=int(input('enter the thing to add to cart'))
    if y>len(z):
        print("you have enetered invalid option try again")
        while y>len(z):
            y=int(input('enter the thing to add to cart')) 
            shopping_cart.append(z[y])
            print("the product has been added to your cart")
    else:
        shopping_cart.append(z[y])
        print("the product has been added to your cart")
    x=input('do you want to buy something ?press yes/q')
print("you bought :",shopping_cart)
print("Allah hafiz")

Welcome to chwloun ke dukan
------------Menu-----------
1.Alu
2.teenday
3.tamatar
4.Gobhi
do you want to buy something ?press yes/qyes
enter the thing to add to cart1
the product has been added to your cart
do you want to buy something ?press yes/qyes
enter the thing to add to cart2
the product has been added to your cart
do you want to buy something ?press yes/qyes
enter the thing to add to cart5
you have enetered invalid option try again
enter the thing to add to cart2
the product has been added to your cart
do you want to buy something ?press yes/qq
you bought : ['teenday', 'tamatar', 'tamatar']
Allah hafiz

# Lab Task 05


## Email Classification
Develope a tool which will classify an email.

### Tasks:
* Create a function classify_emails that takes a list of emails as an argument.
* Inside the function, categorize emails into "Important," "Promotions," and "Spam" based on keywords and content analysis.
* Loop through the emails and identify keywords to determine their category.
* If an email contains keywords indicating importance, assign it as "Important."
* If an email contains keywords related to promotions or deals, assign it as "Promotions."
* If an email is suspected to be spam based on certain keywords or patterns, assign it as "Spam."
* Return three lists of emails for each category.
* Print the lists.

In [54]:
def classify_emails(emails):
    important = ["important", "urgent", "action required"]
    promotions = ["promotions", "sale", "discount"]
    spam = ["lottery", "inheritance", "free", "click here"]
    categorized_emails = {
        'Important': [],
        'Promotions': [],
        'Spam': []
    }
    for email in emails:
        lowercase_email = email.lower()
        if any(word in lowercase_email for word in important):
            categorized_emails["Important"].append(email)
        elif any(word in lowercase_email for word in promotions):
            categorized_emails["Promotions"].append(email)
        elif any(word in lowercase_email for word in spam):
            categorized_emails["Spam"].append(email)
        else:
            categorized_emails["Promotions"].append(email)
    return categorized_emails

emails = [
    "important , urgent action required on your account.",
    "Check out our latest sale!",
    "You've won the lottery!",
    "Important: Please review the attached document.",
    "Exclusive deal for you!",
    "Inherit a fortune today!",
    "Viagra for sale, limited time offer."
]
categorized_emails = classify_emails(emails)
print("Important Emails:", categorized_emails["Important"])
print("Promotions Emails:", categorized_emails["Promotions"])
print("Spam Emails:", categorized_emails["Spam"])

Important Emails: ['important , urgent action required on your account.', 'Important: Please review the attached document.']
Promotions Emails: ['Check out our latest sale!', 'Exclusive deal for you!', 'Inherit a fortune today!', 'Viagra for sale, limited time offer.']
Spam Emails: ["You've won the lottery!"]

# Lab Task 06

## English-Spanish Dictionary
You are creating a basic English-Spanish dictionary that allows users to look up English words and find their Spanish translations.


### Tasks
* Create a dictionary where English words are keys and their Spanish translations are values.
* Ask the user to input an English word.
* Check if the word exists in the dictionary.
* If the word exists, print its Spanish translation.
* If the word does not exist, inform the user that the translation is not available.
* Implement a loop that allows the user to keep looking up words until they choose to exit.

In [57]:
#code here
dict={
    'love':"amor",
    'hi':'ola',
    'daddy':'papi'
}
x=input('do you want to start or end ?press exit/start')
while x!='exit':
    z=input('Enter english word for translation:')
    if z not in dict.keys():
        print("the translation is not available.")
    else:
        print(dict[z])
    x=input('do you want to start or end ?press exit/start')

do you want to start or end ?press exit/startstart
Enter english word for translation:love
amor
do you want to start or end ?press exit/startexit

# Lab Task 07

# dataset link : https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv
#Exercise
Use the dataset of Game, we have explored earlier and perform following operations.

* Calculate the total global sales for all games in the dataset.
* Find the game with the highest global sales.
* Determine the average sales for each region (NA_Sales, EU_Sales, JP_Sales, Other_Sales).
* Find the top 5 most popular game genres based on global sales.
* Calculate the total sales for each genre in each region and find the most popular genre in North America (NA_Sales).
* Display last 10 rows.
* Determine the top 3 gaming platforms with the highest global sales.
* Calculate the market share (percentage of global sales) for each genre.
* Calculate the correlation coefficient between NA_Sales and EU_Sales. (.corr function)

In [58]:
import pandas as pd
x=pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv')

In [59]:
df=pd.DataFrame(x)

In [60]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [61]:
print('total of global sales',df['Global_Sales'].sum())

8920.44

In [67]:
df[df['Global_Sales'] == df['Global_Sales'].max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [69]:
print('Average of n sales', df['NA_Sales'].mean())
print('Average of EU_Sales', df['EU_Sales'].mean())
print('Average of JP_Sales', df['JP_Sales'].mean())
print('Average of Other_Sales', df['Other_Sales'].mean())

Average of n sales 0.26466742981082064
Average of EU_Sales 0.14665200626581515
Average of JP_Sales 0.077781660441017
Average of Other_Sales 0.0480630196409206

In [80]:
df[df['Global_Sales'] == df['Global_Sales'].max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [73]:
genre= df.groupby('Genre')["Global_Sales"].sum().reset_index()
sorted = genre.sort_values(by="Global_Sales", ascending=False)
top_5 = sorted.head(5)

In [74]:
top_5

           Genre  Global_Sales
0         Action       1751.18
10        Sports       1330.93
8        Shooter       1037.37
7   Role-Playing        927.37
4       Platform        831.37

In [78]:
platform= df.groupby('Platform')["Global_Sales"].sum().reset_index()
sorted = platform.sort_values(by="Global_Sales", ascending=False)
top_3 = sorted.head(3)

In [79]:
top_3

   Platform  Global_Sales
16      PS2       1255.64
28     X360        979.96
17      PS3        957.84

In [75]:
df.tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [88]:
# Import libraries
import pandas as pd

KeyError: 'Region'

In [91]:
genre_sales_by_region = df.groupby('Genre')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
print("Total sales for each genre in each region:")
genre_sales_by_region

Total sales for each genre in each region:

              NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
Action          877.83    525.00    159.95       187.38
Adventure       105.80     64.13     52.07        16.81
Fighting        223.59    101.32     87.35        36.68
Misc            410.24    215.98    107.76        75.32
Platform        447.05    201.63    130.77        51.59
Puzzle          123.78     50.78     57.31        12.55
Racing          359.42    238.39     56.69        77.27
Role-Playing    327.28    188.06    352.31        59.61
Shooter         582.60    313.27     38.28       102.69
Simulation      183.31    113.38     63.70        31.52
Sports          683.35    376.85    135.37       134.97
Strategy         68.70     45.34     49.46        11.36

In [84]:
genre= df.groupby('Genre')["NA_Sales"].sum().reset_index()
sorted = genre.sort_values(by="NA_Sales", ascending=False)
top = sorted.head(1)

In [85]:
top

    Genre  NA_Sales
0  Action    877.83

In [93]:
df['Total_Sales'] = df['NA_Sales'] + df['EU_Sales'] + df['JP_Sales'] + df['Other_Sales']
total_global_sales = df['Total_Sales'].sum()
genre_sales = df.groupby('Genre')['Total_Sales'].sum()
market_share = (genre_sales / total_global_sales) * 100
print("Market share (percentage of global sales) for each genre:")
market_share

Market share (percentage of global sales) for each genre:

Genre
Action          19.629760
Adventure        2.678488
Fighting         5.035302
Misc             9.077093
Platform         9.320928
Puzzle           2.741410
Racing           8.207518
Role-Playing    10.400130
Shooter         11.629177
Simulation       4.395655
Sports          14.923311
Strategy         1.961226
Name: Total_Sales, dtype: float64

In [95]:
correlation = df['NA_Sales'].corr(df['EU_Sales'])

print("Correlation coefficient between NA_Sales and EU_Sales:", correlation)

Correlation coefficient between NA_Sales and EU_Sales: 0.767726748370264